<!DOCTYPE html>
<html>
<head>
    <title>Data Visualization</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script>
        let onLoad = function () {
            /**
             * Insert your code here
             */
        };
    </script>
</head>
<body onload="onLoad()">
<div class="divTable">
    <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableCell">
                <canvas id="myChart_1"></canvas>
            </div>
            <div class="divTableCell">
                <canvas id="myChart_2"></canvas>
            </div>
        </div>
        <div class="divTableRow row">
            <div class="divTableCell">
                <canvas id="myChart_3"></canvas>
            </div>
            <div class="divTableCell">
                <canvas id="myChart_4"></canvas>
            </div>
        </div>
        <div class="divTableRow row">
            <div class="divTableCell">
                <canvas id="myChart_5"></canvas>
            </div>
            <div class="divTableCell">
                <canvas id="myChart_6"></canvas>
            </div>
        </div>
    </div>
</div>
</body>
</html>